body {
  font-family: 'Underdog', cursive;
}

#wrapper {
  text-align: center;
}
.vowel {
  display: block;
  line-height: 0.9em;
  font-weight: bold;
}
.vowel.hidden {
  opacity: 0;
  transition: 0.2s;
}

#vowel .vowel:nth-child(1) {
  font-size: 10em;
  color: #00B5AD;
}
#vowel .vowel:nth-child(2) {
  font-size: 5em;
  color: #D95C5C;
}
#vowel .vowel:nth-child(3) {
  font-size: 2em;
  color: #D95C5C;
}

#formants {
  left: 140px;
  position: absolute;
}

#formants > span {
  margin: 10px 20px;
  color: #D95C5C;
}
